<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                            (click)="deleteSelectedLegalEntities()"
                            [disabled]="!selectedLegalEntities || !selectedLegalEntities.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import"
                        chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="legalEntities" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="10"
                [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedLegalEntities" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage LegalEntities</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name">name <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th>type</th>
                        <th pSortableColumn="vehicles">vehicles <p-sortIcon field="vehicles"></p-sortIcon>
                        </th>
                        <th pSortableColumn="addresses">addresses <p-sortIcon field="addresses"></p-sortIcon>
                        </th>

                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-legalEntity>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="legalEntity"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">ID</span>
                            {{legalEntity.id || legalEntity.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">name</span>
                            {{legalEntity.name}}
                        </td>

                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">type</span>
                            {{legalEntity.type}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">vehicles</span>
                            {{legalEntity.vehicles}}
                        </td>

                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">addresses</span>
                            {{legalEntity.addresses}}
                        </td>




                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                                (click)="editLegalEntity(legalEntity)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mt-2"
                                (click)="deleteLegalEntity(legalEntity)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="legalEntityDialog" [style]="{width: '450px'}" header="LegalEntity Details" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">

                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="legalEntity.name" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !legalEntity.name}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !legalEntity.name">Name is required.</small>
                </div>





            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="saveLegalEntity()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteLegalEntityDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="legalEntity">Are you sure you want to delete <b>{{legalEntity.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteLegalEntityDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteLegalEntitiesDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected legalEntities?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteLegalEntitiesDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
